log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3
*.*~
nbproject

0001-Internacionalizacion-de-la-vista-Login.patch
0002-Internacionalizada-la-vista-forgot_password.patch
0003-Internacionalizados-los-mails-de-user_mailer.patch

